/////////////
// Colours //
/////////////
$color-blue: #0074d9;
$color-grey: #eee;
$color-grey-darker: #ddd;
$color-grey-darkest: #222;
$color-navy: #001f3f;
$color-pink: #f012be;
$color-white: #fff;

///////////
// Fonts //
///////////
$font-ibm-plex-mono: "IBM Plex Mono Regular";
