doctype html
html(lang="en")
  head
    title James Willock &mdash; software engineer &amp; manager
    script(src="./index.ts")
    link(rel="stylesheet" href="./scss/index.scss")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    .page#page-wrapper
      header.header
        hgroup
          h1 James Willock
          h2 &rsaquo; software engineer &amp; manager
        nav.contact-info
          address 14 Moss Street, York, YO23 1BR, UK
          p
            a(href="tel:+447908737119") +44 7908 737119
            |  &middot; 
            a(href="mailto:james.willock@gmail.com") james.willock@gmail.com
          p
            a#theme-switcher(href="#") switch theme
            |  &middot; 
            a(href="https://github.com/jameswillock") github.com/jameswillock
      main
        p.intro As a passionate software engineer and manager, I have spent many years building products, leading teams and teaching. My background in education lends itself to coaching and mentorship, and I care deeply about building healthy, functional software teams.
        h3 Expertise
        ul.expertise
          li.expertise-item Ruby (Rails &amp; Sinatra)
          li.expertise-item Python (Django &amp; Flask)
          li.expertise-item JS (ES2018, TS &amp; Node)
          li.expertise-item React (Redux &amp; Webpack)
          li.expertise-item SQL (PostgreSQL)
          li.expertise-item HTML &amp; CSS
          li.expertise-item API &amp; SOA design
          li.expertise-item UX &amp; accessibility
          li.expertise-item Leadership &amp; coaching
        h3 Employment
        .employment
          h4
            | Engineering Manager, 
            a(href="https://generalassemb.ly/") General Assembly
          p.employment-info
            time(datetime="2015-06-01") June 2015
            |  &mdash; present &middot; York, UK (Remote)
          p Overseeing a team of software engineers delivering a market-leading learning platform, whilst eliminating technical debt and increasing the team's productivity.
        .employment
          h4 
            | Technical Lead, 
            a(href="https://generalassemb.ly/") General Assembly
          p.employment-info
            time(datetime="2013-08-01") August 2013
            |  &mdash; 
            time(datetime="2015-06-01") June 2015
            |  &middot; London, UK &amp; New York, USA (Remote)
          p Delivered several headline products, including the first fully asynchronous educational product. Responsible for critical business systems, including payment processing and student feedback.
        .employment
          h4
            | Instructor, 
            a(href="https://generalassemb.ly/") General Assembly
          p.employment-info
            time(datetime="2012-09-01") September 2012
            |  &mdash; 
            time(datetime="2015-06-01") June 2015
            |  &middot; London, UK
          p Delivered formal web development syllabus to over 200 students part and full-time.
        .employment
          h4
            | Software Engineer, 
            a(href="https://ubuntu.com") Ubuntu
          p.employment-info
            time(datetime="2012-01-01") January 2012
            |  &mdash; 
            time(datetime="2012-09-01") September 2012
            |  &middot; London, UK
          p Developed experiences under Ubuntu and Canonical brands, delivering a cohesive user interface framework for use internally.
        .employment
          h4
            | Software Engineer, 
            a(href="http://erskine.simplygoodwork.com/") Erskine Design
          p.employment-info
            time(datetime="2010-06-01") June 2010
            |  &mdash; 
            time(datetime="2012-01-01") January 2012
            |  &middot; Nottingham, UK
          p Delivered successful e-commerce and social media projects including Edelman and WSL.
        h3 Education
        h4
          | BA (Hons) Design, 1
          sup st
          |  class, 
          a(href="https://www.lincoln.ac.uk/") University of Lincoln
        p.employment-info
          time(datetime="2007-09-01") September 2007
          |  &mdash; 
          time(datetime="2010-06-01") June 2010
          |  &middot; Hull, UK
